
/* COUNTER APP */
section{
background-color:lightblue;
align-items: center;
text-align: center;
width: 250px;
padding-block: 10px;
padding-inline: 10px;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    margin-top: 0;
    margin-bottom: 20px;
}
button{
     color: white;
    border: none;
    padding-block: 5px;
    padding-inline: 10px;
    width: 200px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;   
}
#increment-btn{
    background-color: rgb(139, 31, 31); 
}
#save-btn{
   background-color: rgb(27, 125, 27); 
   margin-top: 5px;
}
/* COUNTER APP ENDED */

/* ERROR MESSAGE  */
img{
    width: 100px;
}

#purchase-btn{
    background-color: blue;
}
#error-el{
    color: red;
}
/* ERROR MESSAGE ENDED */


/* MINI CALCULATOR */
#main-length{
    width: 500px;
    text-align: center;
}
#btn{
    color: black;
    margin-bottom: 5px;
}
/* MINI CALCULATORENDED */

/* BLACK JACK GAME */
#blackjack-background{
    background-color:rgb(16, 116, 16) ;
    color: white;
    font: bolder; 
    padding-bottom: 30px;
}
#blackjack-el{
    color:goldenrod;
}
#message-el{
    font-style: italic;
}
#startgame-btn{
    background-color: goldenrod;
    color:rgb(17, 100, 17);
    font-weight: bold;
}
#newcard-btn{
    background-color: goldenrod;
    color:rgb(17, 100, 17);
    font-weight: bold;
    margin-top: 5px; 
}
/* BLACK JACK GAME ENDED*/

/* APPLE SHELF */
#apple-shelf{
    width: 200px;
    background-color:palevioletred;
    padding-bottom: 10px;
    padding-top: 20px;
}
#orange-shelf{
   width: 200px;
    background-color:orange;
    padding-bottom: 10px;
    padding-top: 20px;  
}

#apple-btn{
    background-color: pink;
}
#orange-btn{
    background-color: orange;
}
/* APPLE SHELF ENDED*/